@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@300;400;500;700&display=swap');
@import "tailwindcss";
* {
   font-family: "Poppins" !important;
}
/* components -> SideBar -> SideBarHeader.jsx  */
.status:after {
  content: "";
  position: absolute;
  background: #5db900;
  width: 16px;
  height: 16px;
  border-radius: 100px;
  top: 4px;
}

/* components -> Overview -> Header0verview.jsx */
.notification-counter {
  content: "";
  background: #ff1919;
  width: 25px;
  height: 25px;
  border-radius: 100px;
  top: 25px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* components -> Overview -> OverviewBody -> VistsStats.jsx */
.progresse-bar {
  background: #ffffff;
  position: relative;
  height: 10px;
}
.progresse-bar:after {
  content: "";
  position: absolute;
  background: #2563eb;
  /* width: 30%; */
  height: 10px; 
  inset: 0;
  border-radius: 100px;
}